/*-------------- cards -----------------*/
.cards{
	display: flex;
	gap: 58px;

	&__column{width: calc(25% - 43.5px);}

	&__top{
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;
		@include font(none, 500, 1.8rem, none, #000);
	}

	&__count{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		height: 2.4rem;
		min-width: 2.4rem;
		border-radius: 1.2rem;
		padding: 0 7px;
		background: $color-green;
		@include font(none, bold, 1.1rem, 1, #fff);

		&_yellow{background: $color-yellow;}
		&_purple{background: $color-purple;}
		&_red{background: $color-red;}
	}
}

.card-item{
	border: 1px solid #F5F5F9;
	border-radius: 15px;
	padding: 14px 20px 20px;
	background: #fff;
	margin-bottom: 20px;

	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 16px;

		.btn-circle{
			width: 28px;
			height: 28px;
		}
	}

	&__move{
		opacity: 0;
		cursor: pointer;
		transition: opacity 0.2s ease 0s;

		.icon{
			fill: #8A919F;
			transform: rotate(90deg);
			transition: fill 0.2s ease 0s;
		}

		&:hover .icon{fill: #000;}
	}

	&__name{
		display: flex;
		align-items: center;
		gap: 6px;
		@include font(none, 600, 1.3rem, none, $color-text);
		margin-bottom: 12px;
	}

	&__count{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		height: 2.4rem;
		width: 2.4rem;
		border-radius: 50%;
		background: rgba(255,77,90,0.06);
		@include font(none, 600, 1.1rem, 1, $color-red);
		margin: -2px 0;
	}

	&__phone,
	&__mail{
		@include font(none, none, 1.2rem, none, $color-text);
	}

	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-top: 25px;
	}

	&__date{
		@include font(none, none, 1.1rem, none, #8A919F);
	}

	&:hover{box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.05);}
	&:hover &__move{opacity: 1;}
}

.card-item-menu{
	position: relative;

	&__popup{
		display: none;
		border-radius: 10px;
		background: #fff;
		border: 1px solid #F5F5F9;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
		position: absolute;
		top: calc(100% + 5px);
		right: 0;
	}

	&__item{
		display: flex;
		align-items: center;
		position: relative;
		white-space: nowrap;
		padding: 7px 10px;
		cursor: pointer;
		transition: background 0.2s ease 0s;

		&:hover{background: #f5f5f9;}
	}

	&__icon{
		display: inline-flex;
		justify-content: center;
		flex-shrink: 0;
		width: 14px;
		margin-right: 12px;
	}

	&__text{
		@include font(none, none, 1.2rem, none, #000);
	}

	&__text:not(:last-child){margin-right: 20px;}

	&__arr{
		flex-shrink: 0;
		margin-left: auto;
		margin-right: 6px;

		.icon{fill: rgba(0,0,0,0.2)}
	}

	&__sub{
		display: none;
		border-radius: 10px;
		background: #fff;
		border: 1px solid #F5F5F9;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
		position: absolute;
		left: 100%;
		top: 0;
	}

	&.open &__popup{display: inline-block;}
	&__item:hover &__sub{display: inline-block;}
}

.card-item-author{
	display: inline-flex;
	align-items: center;
	gap: 10px;

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__name{
		@include font(none, none, 1.2rem, none, #8A919F);
	}
}