/*-------------- history-modal -----------------*/
.history-modal{
	display: flex;
	flex-direction: column;
	width: 480px;
	height: 80vh;
	border-radius: 30px 30px 0 0;
	background: #fff;
	padding: 30px 22px;
	overflow-y: auto;
	position: fixed;
	bottom: -100vh;
	right: 0;
	transition: bottom 0.2s ease 0s;
	z-index: 1000;

	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 20px;

		.btn-circle{flex-shrink: 0;}
	}

	&__title{
		@include font(none, 600, 1.6rem, none, #000);
	}

	.form-search{
		width: 100%;
		margin-bottom: 20px;

		input[type="text"]{width: 100%;}
	}

	.tabs-page{
		&__list{flex-wrap: nowrap;}
		&__item{width: 100%;}
	}

	&__bottom{margin-top: auto;}

	&.open{bottom: 0;}
}

.item-file-wrap{
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 15px;

	.btn-circle{flex-shrink: 0;}
}

.item-file{
	display: flex;
	justify-content: space-between;
	gap: 15px;
	width: 100%;
	background: #F5F5F9;
	border-radius: 15px;
	padding: 17px 16px;

	&_green{background: rgba(15,173,104,0.06);}

	&__content{
		display: flex;
		align-items: center;
		gap: 17px;
	}

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 47px;
		height: 47px;

		img{
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__title{
		@include font(none, 600, 1.4rem, none, #000);
	}

	&__name{
		@include font(none, none, 1.3rem, none, #000);
	}

	&__data{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__date{
		@include font(none, none, 1.2rem, none, #75769A);
	}
}

.item-file-actions{
	display: flex;
	align-items: center;
	gap: 13px;
	margin-top: 15px;

	&__item{
		cursor: pointer;
		.icon{
			fill: #75769A;
			transition: fill 0.2s ease 0s;
		}

		&:hover .icon{fill: #000;}
	}
}