/*-------------- left-menu -----------------*/
.left-menu{
	width: 318px;
	height: 100%;
	background: #fff;
	border-right: 1px solid #EFEFF4;
	padding: 24px 16px;
	margin: 0;
	list-style: none;
	overflow-y: auto;

	&__item{
		display: flex;
		align-items: center;
		gap: 15px;
		min-height: 4.4rem;
		border-radius: 2.2rem;
		padding: 5px 20px;
		transition: all 0.2s ease 0s;
	}

	&__icon{
		display: inline-flex;
		justify-content: center;
		width: 18px;
		flex-shrink: 0;

		.icon{
			fill: #8A919F;
			transition: fill 0.2s ease 0s;
		}
	}

	&__text{
		@include font(none, none, 1.4rem, none, #8A919F);
		transition: color 0.2s ease 0s;
	}

	&__item.active,
	&__item:hover{
		background: #F9F9FB;

		&__text{color: #000;}
		.icon{fill: #000;}
	}

	&__item.active &__text,
	&__item:hover &__text{
		color: #000;
	}
}