/*-------------- notice -----------------*/
.notice-info{
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 30px;
	}

	&__title{
		@include font(none, 600, 2rem, none, #000);
	}

	&__status{
		display: inline-flex;
		align-items: center;
		gap: 10px;
		height: 3rem;
		border-radius: 1.5rem;
		border: 1px solid #F5F5F9;
		padding: 0 15px;
		@include font(none, 500, 1.2rem, none, #75769A);
		transition: all 0.2s ease 0s;

		.icon{
			flex-shrink: 0;
			fill: #75769A;
			transition: fill 0.2s ease 0s;
		}
	}

	&__status_green{
		background: rgba(15,173,104,0.06);
		color: $color-green;

		.icon{fill: $color-green;}
	}

	.tabs-page{
		&__list{flex-wrap: nowrap;}
		&__item{width: 100%;}
	}
}

.notice-item{
	display: flex;
	gap: 20px;
	padding: 22px 0;

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: #ECEBFF;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.icon{fill: #A57EED;}
	}

	&__info{
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}

	&__text{
		@include font(none, none, 1.4rem, none, #87919E);
	}

	&__text-accent{color: #000;}

	&__circle{
		display: inline-block;
		flex-shrink: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #FF4D5A;
		margin-top: 3px;
	}

	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		margin-top: 17px;
	}

	&__date{
		@include font(none, none, 1.1rem, none, #8A919F);
	}

	&__tag{
		display: inline-flex;
		align-items: center;
		gap: 7px;
		height: 2rem;
		border-radius: 1rem;
		border: 1px solid #F5F5F9;
		@include font(none, 500, 1.1rem, none, #75769A);
		padding: 0 10px;
		transition: all 0.2s ease 0s;

		.icon{
			fill: #75769A;
			transition: fill 0.2s ease 0s;
		}
	}

	&__tag_green{
		background: rgba(15,173,104,0.06);
		color: $color-green;

		.icon{fill: $color-green;}
	}

	&__content{
		width: 100%;
		margin-top: -3px;
	}

	&:not(:last-child){border-bottom: 1px solid #F5F5F7;}

	&.disabled &__text,
	&.disabled &__date{
		opacity: 0.35;
	}
}