//Font
$font-site: 'SF Pro Display', Arial, sans-serif;

// Site
$color-text: #19223B;
$color-green: #0FAD68;
$color-red: #FF4D5A;
$color-blue: #009EFF;
$color-blue-dark: #027cc9;
$color-grey: #8A919F;
$color-purple: #C150FF;
$color-yellow: #FFB427;
